# Dependencies
node_modules
.pnp
.pnp.js
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.env

# Testing
coverage/
.coverage
htmlcov/
.pytest_cache/

# Production
dist/
build/
*.spec

# Development
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
*.sqlite
*.sqlite3
*.db

# Cache
.npm/
.eslintcache
.vite/
.tsbuildinfo

# Electron
out/
release/

# Docs
docs/.vitepress/dist/
docs/.vitepress/cache/ 